.WeatherAndForecast {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 2rem;
}
  
.WeatherAndForecast__container {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.WeatherAndForecast__temp{
  margin-top: 20px;
}