.Weather {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
  
.Weather__info {
  text-align: left;
  display: flex;
  float: left;
}
  
.Weather__icon {
  width: 100px;
  height: 100px;
}
  
.Weather__list {
  font-size: 0.85rem;
  list-style: none;
  margin-left: 0.75rem;
}
  
.list__temperature {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
  
.list__temperature-symbol {
  font-weight: 500;
  font-size: 1rem;
}
  
.Weather__other-info {
  text-align: right;
  float: right;
}
  
.other-info__city {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}
  
.other-info__clouds {
  font-weight: normal;
  font-size: 0.9rem;
}
  
.Weather {
  padding: 0 0 1.5rem 0;
}

.weather_left{
  float: left;
}

.weather_right{
  float: right;
}